body {
    padding-top:50px;
}
.starter-template {
    padding:40px 15px;
    text-align:center;
}


.navbar-collapse {
    
}

.nav {
    float:right;
}

#btnLogin {
   
}

#LoggedIn {
/*    style='display:none;  */
}

.container {
        margin-top: 5em
}
